body
{
	font-family: montserrat;
	background-image: linear-gradient(#fbfbff, #ffffff);
	/*background: #fbfbff;*/
}

section
{
	/*margin: 0;*/
	min-height: 100vh;
}

.c-purple
{
	color: #8679E4;
}

.line
{
	border-bottom: 1px solid #8679E4;
}

.navbar
{
	background: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	height: 70px;
}

.navbar-brand h5
{
	font-weight: bold;
	color: #8679E4;
}

.navbar ul li a
{
	color:  #8C8C8D !important;
	margin-right: 25px;
	font-weight: 500;
	letter-spacing: 1px;
}

.navbar ul li a:hover
{
	color: #8679E4 !important;
	font-weight: bold;
}

.banner .row
{
	padding-top: 18%; 
	justify-content: center;
}

.banner .row .title-1
{
	color: #8C8C8D;
	font-size: 2rem;
}

.banner .row .title-2
{
	font-size: 3rem;
	color: #8679E4;
	text-transform: uppercase;
	font-weight: 600;
}

.banner .row .title-3
{
	font-size: 1rem;
	color: #8C8C8D;
}

.button
{
	margin-top: 40px;
}

.button .btn-email
{
	background: #8679E4;
	border-radius: 2px;
	font-size: 12px;
	height: 50px;
	padding: 10px 20px 10px 20px;
	width: 50px;
	color: #ffffff !important;
	letter-spacing: 4px;
	font-weight: bold;
	margin-right: 15px;
}

.button  a:hover
{
	opacity: 0.9;
	text-decoration: none;
}

.button .icon
{
	font-size: 22px;
	background: none;
	color: #8C8C8D !important;
	margin: 0 15px 0 0;
}

.button .icon:hover
{
	color: #8679E4 !important;
}

.about .row
{
	justify-content: center;
}

.about .row .title-1
{
	font-size: 30px;
	color: #8679E4;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0 0 30px 0;
}

.about .row .caption
{
	font-size: 14px;
	font-weight: 300;
	color: #8C8C8D !important;
	letter-spacing: 2px;
}

.about .row .caption span
{
	color: #8679E4;
	font-weight: bold;
	text-transform: uppercase;
}

.skill
{
	color: #8679E4;
	font-weight: 600;
}

.skill span
{
	margin: 0 0 5px 0;
	border-bottom: 1px solid #8C8C8D;;
}

.portfolio h5
{
	margin: 0 0 30px 0;
	font-size: 30px;
	color: #8679E4;
	text-transform: uppercase;
	font-weight: 600;
}

.portfolio img
{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.portfolio .title-website
{
	margin: 10px 0 0 10px;
	font-size: 20px;
	color: #8679E4;
	text-transform: uppercase;
	font-weight: 600;
}

.portfolio .caption-website
{
	margin: 0 0 10px 10px;
	font-size: 12px;
	color: #8C8C8D;
}

.img-project .card:hover
{
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

footer
{
	background: #fbfbff;
	height: 250px;
}

footer .row
{
	padding: 30px 0 0 0;
}

footer .contact p
{
	vertical-align: center;
	margin-bottom: -5px !important;
	font-size: 14px;
	font-weight: 500;
	color: #8C8C8D;
	letter-spacing: 2px;
}

footer .contact a
{
	text-decoration: none;
}

.icon
{
	font-size: 25px;
	background: none;
	color: #8C8C8D !important;
	margin: 0 15px 0 0;
}

.icon:hover
{
	color: #8679E4 !important;
	font-weight: bold;	
}

footer .footer
{
	text-align: center;
	font-size: 14px;
	color: #8C8C8D;
	padding: 30px 0 30px 0;
	font-weight: 300;
}

@media (max-width: 576px)
    {	
	section
		{
			min-height: 50vh;
		}

	.navbar-nav
		{
			color: #ffffff !important;
			background: #ffffff;
			text-align: center;		
		}
	
	.banner .row
		{
			padding-top: 38%; 
			justify-content: center;
			text-align: center;
		}
	
		.image-portfolio, .image-about
		{
			display: none;
		}

	.banner .row .title-1
		{
			font-size: 15px;
		}

	.banner .row .title-2
		{
			font-size: 20px;
		}

	.banner .row .title-3
		{
			font-size: 10px;
		}

	.button
		{
			margin-top: 20px;
		}
	
	.img-project
		{
			margin: 0 0 20px 0;
		}

	.portfolio h5, .about .row .title-1
		{
			text-align: center;
			font-size: 1rem;
		}

	.contact
	{
		font-weight: 300;
		font-size: 12px;
		margin: 0 0 30px 0;
		text-align: center;
	}

	.portfolio .title-website
	{
		margin: 5px 0 0 5px;
		font-size: 15px;
		font-weight: 600;
	}

	.portfolio .caption-website
	{
		margin: 0 0 5px 5px;
		font-size: 10px;
	}

    }
